.portfolio-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}
.details-page{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -2;
}
.details-page .left{
    position: absolute;
    top: 60px;
    left: 0;
    width: 40%;
    height: 550px;
    display: flex;
    border-radius: 0.785rem;
    padding: 20px 20px;
    background: #000;
}
.details-page .left .left-content{
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed #f3bbbb;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 20px;
}
.details-page .left .left-content .top-h{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(81, 92, 75, 0.5);
}
.details-page .left .left-content .top-h H4{
    font-family: 'Motserrat';
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.details-page .left .left-content .address{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details-page .left .left-content .address a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Motserrat';
    font-size: 20px;
}
.details-page .left .left-content .address span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;


}
.details-page .left .left-content .address span ion-icon, 
.details-page .left .left-content .address a:nth-child(3) span ion-icon
{
    color: purple;
}
.languages{
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-area {
    width: 100%;
    
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 5px;
}
.eng{
    width: 70%;
    background: #b32f2f;
}
.swa{
    width: 80%;
    background: #272222;
}
.mj{
    width: 80%;
    background: #503f3f;
}
.details-page .right{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}















/* .......layered box.......... */
.box{
    position: relative;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 360px;
    height: 640px;
    margin-top: 50px;
    background: rgba(255, 255, 255, .1);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    z-index: 1;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #b1a4a4;
    border-radius: 0.9rem;
    transition: 0.5s;
}
.box:hover .layer:nth-child(4){
    transform: translate(160px, -160px);
    opacity: 1;
}
.box:hover .layer:nth-child(3){
    transform: translate(120px, -120px);
    opacity: .8;
}
.box:hover .layer:nth-child(2){
    transform: translate(80px, -80px);
    opacity: .6;
}
.box:hover .layer:nth-child(1){
    transform: translate(40px, -40px);
    opacity: .3;
}