.service-container{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}
.main-page{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.content-page-header{
    position: relative;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
    color: #333;
    font-size: 28px;

}
.content-page-header h4{
    font-style: italic;
    font-weight: 600;
    font-family: 'Motserrat';
}

.service-card{
    position: relative;
    width: 390px;
    height: 450px;
    padding: 10px;
    border: 1px solid #f3d2d2;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    overflow: hidden;
    z-index: 1;

}
.service-card::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}
.service-card::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent,transparent,transparent,#e94fc2);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.service-card .img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.service-card span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}
.service-card h4{
    font-style: italic;
    font-weight: 600;
    font-family: 'Motserrat';
    color: #fff;
    z-index: 999;
}
.service-card p{
    text-align: center;
    line-height: 1.5; 
    color: #fff;
    z-index: 999;
    font-family: 'Motserrat';   
}
.service-card button{
    padding: 8px 16px;
    border-radius: calc(var(--pad) * 0.5);
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--btn-color);
    color: var(--text-color);
    z-index: 999;

}





