<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>

</head>
<body>
    <div class="main">
        <div class="light"> 
            <div class="box">
                <div class="content" id="content">
                    <h2>I am Fixtone Kaloki</h2>
                    <span id="multiText"></span>
                    <p>Having 3 years of Experience <br>With the ability to discern how to satisfy <br>a client’s needs using a web page</p>
                    <div class="input-group">
                        <input type=submit value="Projects">
                        <input type=submit value="Download My Resume" onclick='window.open("/static/files/Fixtone Mtengo Kaloki  CV.pdf"); return true;'>
                        <!-- <a href="/static/files/Fixtone Mtengo Kaloki  CV.pdf" target="_blank">Download CV</a> -->
                    </div>
                    
                </div> 
            </div>
        </div>
        <div class="service-area" id="service-area">
            <div class="dome">
                <div class="top-widget">
                    <span class="toolkit"><ion-icon name="ellipsis-vertical-outline"></ion-icon></span>
                    <span class="hidden" id="hide" onclick="closeContactForm()"><ion-icon name="close-outline"></ion-icon></span>
                </div>
                <div class="box-widget">
                    <h2>Send a Message</h2>
                    <form class="formBox" action="https://formspree.io/f/xdoqknqn" method="POST">
                       <div class="width-50">
                            <div class="inputBox">
                                <input type="text" name="f_name" required>
                                <span>First Name</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="l_name" required>
                                <span>Last Name</span>
                            </div>
                       </div>
                        <div class="width-50">
                            <div class="inputBox">
                                <input type="text" name="email" id="email">
                                <span>Email Address</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="" required>
                                <span>Mobile Number</span>
                            </div>
                        </div>   
                        <div class="inputBox w100">
                            <span>Write your message here....</span>
                            <textarea name="message" required></textarea>
                        </div>
                        <div class="inputBox w100">
                            <input type="submit" value="Send">
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        <div class="phone-anime">
            <div class="main-widget">
                <ul>
                    <li>
                        <a href="">
                            <span>CSS</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>JS</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>PYTHON</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>NODE JS</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>JAVA</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>REACT</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="phone">
            <img src="/static/images/th.jpeg" alt="" srcset="">
            <div class="buttons">
                <div class="right">
                    <div class="button"></div>
                    <div class="button"></div>
                </div>
            </div>
            <div class="screen-container">
                <div class="bg">
                    <div class="header">
                        <span class="settings"><ion-icon name="ellipsis-vertical-outline"></ion-icon></span>
                        <span class="close"><ion-icon name="close-outline"></ion-icon></span>
                    </div>
                    <div class="center-profile">
                        <img src="/static/images/new.jpg" alt="" srcset="">
                    </div>
                    <div class="details">
                        <h4 class="name">94tech.</h4>
                        <h4>UI & UX Designer</h4>
                        <span class="location"><ion-icon name="location-outline"></ion-icon>Kenya</span>
                        <div class="icon-links">
                            <h2>Follow Me On</h4>
                            <ul>
                                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                                <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
                                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                            </ul>
                            
                        </div>
                        <div class="btn-links">
                            <button type="button" id="message-btn" onclick="loadContactForm()">Message</button>
                        </div>
                        <div class="skills-links">
                            <h2>Skills</h4>
                            <ul>
                                <li><a href="#"><ion-icon name="logo-vue"></ion-icon></a></li>
                                <li><a href="#"><ion-icon name="logo-angular"></ion-icon></a></li>
                                <li><a href="#"><ion-icon name="logo-nodejs"></ion-icon></a></li>
                            </ul>
                            
                        </div>
                    </div> 
                    <div class="footer">
                        <span class="call"><ion-icon name="call-outline"></ion-icon></span>
                        <span class="message" id="message-btn" onclick="loadContactForm()"><ion-icon name="chatbox-outline"></ion-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget">
            <h1>footer</h1>
        </div>
    </div>

  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <!-- Setup and start animation! -->
 
  <script>
    var typingEffect = new Typed('#multiText', {
    strings : ["Frontend Developer", "UX $ UI Designer."],
    loop: true,
    typeSpeed: 100,
    backSpeed: 70,
    startDelay: 1000,
    backDelay: 1500
    });
    typingEffect.start();
  </script>
  <script src="/static/js/main.js"></script> 
</body>
</html>

