<div class="main">
    <div class="content" id="content">
        <h2>I am <span>Fixtone Kaloki</h2>
        <h2>Web Designer, UX and UI Designer</h2>
        <p>Having 3 years of Experience <br>With the ability to discern how to satisfy a client’s needs using a web page</p>
        <div class="input-group">
            <a href="#">My Projects</a>
            <a href="#">Download CV</a>
        </div>
        
    </div>
    <div class="contact-form">
        <div class="wrapper">
            <div class="left-side">
                <div class="address details">
                    <i class="fa fa-map-marker"></i>
                    <div class="topic">Address</div>
                    <div class="text-one"> Galanema, NP12</div>
                    <div class="text-two">Chonyi 03</div>
                </div>
                <div class="phone details">
                    <i class="fa fa-phone"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one"> +254719 454 431</div>
                    <div class="text-two">+254711 274 834</div>
                </div>
                <div class="email details">
                    <i class="fa fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one"> fixtone94tec@gmail.com</div>
                    <div class="text-two">info.damunchi@94tec.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send Me a message</div>
                <p>If you have any work from me or any types of quries related to web Design, you can send me a message from here its  my pleasure to help you. </p>
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box message-box">
                        <textarea></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Send Now">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="phone">
        <div class="buttons">
            <div class="right">
                <div class="button"></div>
                <div class="button"></div>
            </div>
        </div>
        <div class="camera"></div>
        <div class="screen-container">
            <div class="bg">
                <div class="deep-purple">
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                </div>
                <div class="gold">
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                </div>
                <div class="space-black">
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                </div>
                <div class="silver">
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                    <div class="section">
                        <div class="glow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notch-container">
            <div class="notch">
                <div class="content">
                    <div class="left">
                        <div class="title"></div>
                        <div class="text"></div>
                    </div>
                    <div class="right">
                        <div class="bar">
                            <div class="duration"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="notch-blur"></div>
        </div>
    </div>  
</div>

