<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <div class="card">
           <h2 class="card-title">Title</h2>
           <p class="card-description">Description</p>
           <button class="card-button">Click me</button>
        </div>
       </div>
       <script src="/static/js/script.js"></script>
</body>
</html>