<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <title>Document</title>
</head>
<body>
    <div class="portfolio-container">
        <div class="portfolio-header">
            <h4>Who am I?</h4>
            <P>
                I am a Web Designer, UI $ UI Designer who is ready to work hard and smart.
            </P>
        </div>
        <div>
            <div class="details-page">
                <div class="left">
                    <h4>contacts</h4>
                    <div class="adress">
                        <a href="#"><span><ion-icon name="mail-outline"></ion-icon></span>fixtone94tec@gmail.com</a>
                        <a href="#"> <span><ion-icon name="logo-twitter"></ion-icon></span>94tec1</a>
                        <a href="#">
                            <span><ion-icon name="logo-whatsapp"></ion-icon>
                                <ion-icon name="call-outline"></ion-icon>
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                            </span>
                            0719454431 / 0711274834</a>
                        </a>
                    </div>
                    <div class="languages">
                        <li>English</li>
                        <li>Swahili</li>
                        <li>Mijikenda</li>
                    </div>

                </div>
                <div class="right">
                    <h4>Education / experience</h4>
                    <ul>
                        <li>2017 - update: Technical Universty of Mombasa </li>
                        <li>2015 - 2016: Technical Universty of Mombasa</li>
                        <li>2010 - 2013: Mariakani Secondary School</li>
                        <li>2002 - 2009: Chasimba Primary School</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="box">
        <div class="layer">layer i</div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div> -->
       <script src="/static/js/script.js"></script>
</body>
</html>