<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <title>Document</title>
</head>
<body>
    <div class="portfolio-container">
        <div class="details-page">
            <div class="left">
                <div class="left-content">
                        <div class="top-h">
                            <h4>contacts</h4>
                        </div>
                        <div class="address">
                            <a href="#"><span><ion-icon name="mail-outline"></ion-icon></span>fixtone94tec@gmail.com</a>
                            <a href="#"> <span><ion-icon name="logo-twitter"></ion-icon></span>94tec1</a>
                            <a href="#">
                                <span><ion-icon name="call-outline"></ion-icon></span>
                                0719454431 / 0711274834</a>
                            </a>
                        </div>
                        
                        <div class="languages">
                            <h4>Languages</h4>
                            <p>English</p>
                            <div class="container-area">
                                <div class="skills eng">70%</div>
                            </div>
                            <p>Kiswahili</p>
                            <div class="container-area">
                                <div class="skills swa">80%</div>
                            </div>
                            <p>Mijikenda</p>
                            <div class="container-area">
                                <div class="skills mj">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="right">
                    <div class="portfolio-header">
                        <h4>Who am I?</h4>
                        <P>
                            I am a Web Designer, UI $ UI Designer who is ready to work hard and smart.
                        </P>
                    </div>
                    <h4>Education / experience</h4>
                    <ul>
                        <li>2017 - update: Technical Universty of Mombasa <span>Bsc. Information Technology</span></li>
                        <li>2015 - 2016: Technical Universty of Mombasa <span>Diploma in  Information Communication Technology</span></li>
                        <li>2010 - 2013: Mariakani Secondary School <span>KCSE</span></li>
                        <li>2002 - 2009: Chasimba Primary School <span>KCPE</span></li>
                    </ul>
            </div>
        </div>
    </div>


    <!-- <div class="box">
        <div class="layer">layer i</div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div> -->
       <script src="/static/js/script.js"></script>
</body>
</html>