<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/services.css">
    <title>Services</title>
</head>
<body>
    <div class="service-container">
        <div class="content-page-header">
            
            <h4>What I can Offer</h4>
        </div> 
        
        <div class="main-page">
            <div class="service-card">
                <div class="img">
                    <img src="/static/images/2721304.png" alt="" srcset="">
                </div>
                <h4>Web Design</h4>
                <p>
                    <p>I am Passionate in creating and build attractive web pages by combining visual design elements including text, photos, grapgic, animation and videos
                </p>
                <button type="button">Read More</button>
                <span></span>
            </div>
            <div class="service-card">
                <div class="img">
                    <img src="/static/images/1055683.png" alt="" srcset="">
                </div>
                <h4>Support & Maintenance</h4>
                <p>
                    I am not limited to providing only development services, 
                    but also cover complete support and maintenance solutions to meet your variegated requirements.
                </p>
                <button type="button">Read More</button>
                <span></span>
            </div> 
            <div class="service-card">
                <div class="img">
                    <img src="/static/images/8407535.png" alt="" srcset="">
                </div>
                <h4>UI $ UX Designer</h4>
                <p>
                    works to optimize the interaction between humans and products or services , With experience in UI/UX design and app development, I build cross-device customer-facing interfaces
                </p>
                <button type="button">Read More</button>
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>